

body {
    background-color:black;
}

#main{
    font-size:25px;
    font-family: 'Press Start 2P', cursive;
}


h1{
    outline: groove;
}

nav a{
    color: white;
    text-decoration: none;
    font-size:25px;
    padding: 20px;
    
}

.bar{
    background-color: green;
    font-family: 'Aldrich', sans-serif;
}

#icon{
    font-size:48px;

}

a:hover{
    color:orange;
}

header{
    background-color: green;
}

#indexPic{
    background-color: black;
    border-radius: 50px;
     
}

 #active{
     color:orange;
 }


h2{
    color:white;
    text-align: center;
    font-size:30px;
    text-decoration: underline;
    
}

.VirusInfo{
    color:white;
    text-align: center;
    font-size:25px;
    border:5px dashed;
    border-color: orange;
    margin: 38px;
    background-color: #696969;
    font-family: 'Cairo', sans-serif;
    
}


#btn:hover{
    color:orange;
}

p{
    margin: 10px;
}

footer{
    color:white;
    text-align: center;
    background-color: green;
    
}


#btn{
    color: black;
    background-color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#cPic{
    border-radius: 60px;
}

.VirusText{
    text-align: left;
    font-family: 'Cairo', sans-serif;
}

#point{
    color:orange;
}

#co{
    outline:groove;
    margin: 10px;
    color: orange;
}